<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta charset="utf-8">
    <title>curiositY</title>
    <meta name="author" content="David Peter">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A puzzle about programming, math &amp; science">
    <link rel="stylesheet" href="../main.css" type="text/css">
  </head>
  <body>
    <h1 id="banner">curiosit<span id="y">Y</span></h1>

    <!-- START CONTENT -->

